openapi: 3.0.3
info:
  title: Central API LINE Gateway (CA-side, v1)
  description: |
    Data/Command Gateway endpoints CA exposes for konkui to act on the LINE OA
    (claim ownership, profile, inbound content, outbound send, reply, quota).

    **Base URL:** CA team provides (`https://buapi.eeccollege.com` + version path).

    **Auth:** every call carries `X-Api-Secret`. State-changing POST also carries HMAC
    (`X-Timestamp` + `X-Signature`) signed with `InboundSecret`. See `../../../STANDARDS.md` §2.

    **Errors:** `{ responseCode, responseMesg }`; `responseMesg` uses the domain code enum
    in the partner addendum where applicable.

    Organized by rollout priority. **P0 unblocks the profile + routing redesign.**
  version: "1.0.0"
  contact:
    name: Phanu (konkui)
    email: eecprogrammer@gmail.com

servers:
  - url: https://buapi.eeccollege.com
    description: Production (CA confirms exact base + version path)

security:
  - apiSecret: []

paths:
  # ---------- P0: ownership + profile + inbound content ----------
  /v1/line/users/{userId}/claim:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      operationId: claimUser
      summary: "[P0] konkui claims a userId as its customer"
      description: |
        After this, CA routes that user's `message`/`postback` events to konkui.
        Idempotent. Durable on CA (survives restart).
      security:
        - apiSecret: []
          hmacTimestamp: []
          hmacSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ClaimRequest" }
      responses:
        "200": { description: Claimed (or already claimed by konkui), content: { application/json: { schema: { $ref: "#/components/schemas/ClaimStatus" } } } }
        "401": { $ref: "#/components/responses/Error" }
        "409": { description: Claimed by a different owner, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
    delete:
      operationId: releaseClaim
      summary: "[P0] Release ownership"
      description: Called on contact hard-delete. Unfollow does NOT release — a returning customer keeps their owner.
      security:
        - apiSecret: []
          hmacTimestamp: []
          hmacSignature: []
      responses:
        "200": { description: Released (idempotent), content: { application/json: { schema: { $ref: "#/components/schemas/WebhookAccepted" } } } }
        "401": { $ref: "#/components/responses/Error" }
    get:
      operationId: getClaimStatus
      summary: "[P0] Check claim status (reconciliation)"
      responses:
        "200": { description: Status, content: { application/json: { schema: { $ref: "#/components/schemas/ClaimStatus" } } } }
        "401": { $ref: "#/components/responses/Error" }

  /v1/line/users/{userId}/profile:
    parameters:
      - $ref: "#/components/parameters/UserId"
    get:
      operationId: getProfile
      summary: "[P0] LINE profile (refresh + reconciliation)"
      description: First-contact profile already arrives enriched in the webhook envelope; this backs the daily refresh job + manual refresh.
      responses:
        "200": { description: Profile, content: { application/json: { schema: { $ref: "#/components/schemas/Profile" } } } }
        "401": { $ref: "#/components/responses/Error" }
        "404": { description: "INVALID_USER", content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }

  /v1/line/messages/{messageId}/content:
    parameters:
      - name: messageId
        in: path
        required: true
        schema: { type: string, example: "line-msg-123" }
    get:
      operationId: getMessageContent
      summary: "[P0] Inbound media binary stream"
      description: Backs agent media display. `Content-Type` = real type; `Content-Disposition` set.
      responses:
        "200":
          description: Binary stream
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        "401": { $ref: "#/components/responses/Error" }
        "410": { description: "CONTENT_EXPIRED — media no longer downloadable", content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }

  # ---------- P1: outbound send ----------
  /v1/line/users/{userId}/messages:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      operationId: pushMessages
      summary: "[P1] Push up to 5 messages (counts as 1 push-quota call)"
      security:
        - apiSecret: []
          hmacTimestamp: []
          hmacSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SendRequest" }
      responses:
        "200": { description: Sent, content: { application/json: { schema: { $ref: "#/components/schemas/WebhookAccepted" } } } }
        "401": { $ref: "#/components/responses/Error" }
        "403": { description: "BLOCKED_BY_USER", content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "429": { description: "QUOTA_EXCEEDED", content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }

  /v1/line/reply:
    post:
      operationId: replyMessages
      summary: "[P1] Free reply via replyToken (no quota; ≤1 min, single use)"
      description: konkui falls back to push (`/users/{userId}/messages`) when the token is expired.
      security:
        - apiSecret: []
          hmacTimestamp: []
          hmacSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReplyRequest" }
      responses:
        "200": { description: Sent, content: { application/json: { schema: { $ref: "#/components/schemas/WebhookAccepted" } } } }
        "401": { $ref: "#/components/responses/Error" }
        "422": { description: "REPLY_TOKEN_EXPIRED", content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }

  # ---------- P2: UX + insight (documented; ship after P1) ----------
  /v1/line/users/{userId}/loading:
    parameters:
      - $ref: "#/components/parameters/UserId"
    post:
      operationId: showLoading
      summary: "[P2] Typing indicator"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: { durationSec: { type: integer, example: 20 } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/WebhookAccepted" } } } }
  /v1/line/quota:
    get:
      operationId: getQuota
      summary: "[P2] Push quota tier"
      responses:
        "200": { description: "{ type, value }", content: { application/json: { schema: { type: object, properties: { type: { type: string, example: limited }, value: { type: integer, example: 10000 } } } } } }
  /v1/line/quota/consumption:
    get:
      operationId: getQuotaConsumption
      summary: "[P2] Quota consumed"
      responses:
        "200": { description: "{ totalUsage }", content: { application/json: { schema: { type: object, properties: { totalUsage: { type: integer, example: 4213 } } } } } }

  # ---------- P3: broadcast (defer until a real consumer; YAGNI) ----------
  /v1/line/multicast:
    post:
      operationId: multicast
      summary: "[P3] Same message to many (max 500 userIds)"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userIds: { type: array, maxItems: 500, items: { type: string } }
                messages: { type: array, maxItems: 5, items: { $ref: "#/components/schemas/LineMessageObject" } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/WebhookAccepted" } } } }
  /v1/line/broadcast:
    post:
      operationId: broadcast
      summary: "[P3] All followers"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                messages: { type: array, maxItems: 5, items: { $ref: "#/components/schemas/LineMessageObject" } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/WebhookAccepted" } } } }

components:
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      schema: { type: string, example: "U5992abc..." }

  securitySchemes:
    apiSecret:
      type: apiKey
      in: header
      name: X-Api-Secret
    hmacTimestamp:
      type: apiKey
      in: header
      name: X-Timestamp
    hmacSignature:
      type: apiKey
      in: header
      name: X-Signature

  responses:
    Error:
      description: Auth failed
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }

  schemas:
    ClaimRequest:
      type: object
      required: [ownerSystem, claimedAt]
      properties:
        ownerSystem: { type: string, example: "konkui" }
        claimedAt: { type: string, format: date-time, example: "2026-05-26T09:00:00Z" }

    ClaimStatus:
      type: object
      required: [claimed]
      properties:
        claimed: { type: boolean, example: true }
        ownerSystem: { type: string, nullable: true, example: "konkui" }

    Profile:
      type: object
      properties:
        displayName: { type: string, nullable: true, example: "สมชาย ใจดี" }
        pictureUrl: { type: string, nullable: true }
        statusMessage: { type: string, nullable: true }
        language: { type: string, nullable: true, example: "th" }

    SendRequest:
      type: object
      required: [messages]
      properties:
        messages:
          type: array
          minItems: 1
          maxItems: 5
          items: { $ref: "#/components/schemas/LineMessageObject" }

    ReplyRequest:
      type: object
      required: [replyToken, messages]
      properties:
        replyToken: { type: string, example: "abc123..." }
        messages:
          type: array
          minItems: 1
          maxItems: 5
          items: { $ref: "#/components/schemas/LineMessageObject" }

    LineMessageObject:
      type: object
      description: |
        Discriminated by `type`. Allowed: text, image, video, audio, sticker, location, flex.
        No outbound `file` — LINE push has none. Media URLs are konkui-hosted HTTPS
        (`service.eeccollege.com/files/...`); CA relays to LINE.
      required: [type]
      properties:
        type:
          type: string
          enum: [text, image, video, audio, sticker, location, flex]
        text: { type: string, nullable: true }
        originalContentUrl: { type: string, nullable: true }
        previewImageUrl: { type: string, nullable: true }
        trackingId: { type: string, nullable: true }
        duration: { type: integer, nullable: true }
        packageId: { type: string, nullable: true }
        stickerId: { type: string, nullable: true }
        title: { type: string, nullable: true }
        address: { type: string, nullable: true }
        latitude: { type: number, format: double, nullable: true }
        longitude: { type: number, format: double, nullable: true }
        altText: { type: string, nullable: true, description: "flex" }
        contents: { type: object, nullable: true, description: "flex bubble/carousel JSON" }

    WebhookAccepted:
      type: object
      required: [responseCode]
      properties:
        responseCode: { type: string, example: "200" }
        responseMesg: { type: string, example: "OK" }

    ErrorResponse:
      type: object
      required: [responseCode]
      properties:
        responseCode: { type: string }
        responseMesg:
          type: string
          nullable: true
          description: "Domain code where applicable: INVALID_USER | BLOCKED_BY_USER | QUOTA_EXCEEDED | REPLY_TOKEN_EXPIRED | CONTENT_EXPIRED"
